body{
    font-family: 'Times New Roman', Times, serif
}


.Home-Container{
   
    color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
}

.Home-Header{
    background-color: green ;
    text-align: center;

}


.Home-Content{
padding: 10px ;
text-align: center;
}


.Homepage-nav{
width: 80 px;
height: 500px;
float: left;
text-align: relative;
color:grey;
border:#3f8aaf, 2px
}
.User-span{
    color: rgb(24, 73, 233);
}
.Home-Nav ul{
    list-style-type: none;
    padding: 0;
}


.Home-main{
background-color: orange;
width: 600px;
float: right;

}


.Home-footer{
clear: both;
background-color: #009999;
}

p {
    margin-left: auto;
    margin-right: auto;  
}
.logo {
    font-size: 25px;
    margin-right: 50%;
}
.nav-main{
    flex: row;
    justify-content: space-between
}