body{
    font-family: 'Times New Roman', Times, serif
}


.Home-Container{
    color: white;
    width: 100vw;
  
}

.Home-Header{
    background-color: green ;
    text-align: center;

}


.Home-Content{
padding: 10px ;
text-align: center;
}


.Homepage-nav{
width: 90vw;
height: 10vh;
align-items: center;
margin-right: -100vw;
color:rgb(53, 221, 123);
border:#3f8aaf;
border-width: .2em;
border-style: dotted;
background-color: darkgray;
}
.User-span{
    color: rgb(24, 73, 233);
}
.Home-Nav ul{
    list-style-type: none;
    padding: 0;
}


.Home-main{
background-color: rgb(17, 12, 1);
width: 600px;
float: right;

}


.Home-footer{
clear: both;
background-color: #009999;
}

p {
    margin-left: auto;
    margin-right: auto;  
}
.logo {
    font-size: 25px;
    margin-right: 50%;
}
.nav-main{
    flex: row;
    justify-content: space-between
}