body{
    font-family: 'Times New Roman', Times; 
    display: flex;
}


.Home-Container{
    color: white;
    opacity: 100%;
    width: 100vw; 

    
   
  
}


.Home-Header{
    background-color: green ;
    text-align: center;

}


.Home-Content{
padding: 10px ;
text-align: center;
}


.Homepage-nav{
display: grid;
width: 98vw;
height: 15vh;
margin: 0 auto;
padding: 2%;
margin-top: 1%;
position: absolute center;
border:#3f8aaf; 
border-width: .2em;
border-style: dotted;
background-color: darkgray;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows:15vh ;
grid-template-areas:
            'jay camera theUser thumb'

;

}
#jays-gram {
    grid-area: jay;
    color: red;
    font-family: 'Abril Fatface', cursive;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-feature-settings: "c2sc";
   font-size: 3rem;
   font-weight: 900;
   margin: -2% 0% 0% 0%;
   text-shadow: 2px 2px rgba(5, 111, 138, 0.712) ;

}
.camera {
    grid-area: camera;
    position: relative;
    font-size: 4.5vw;
    margin: 0vh 0vw 1vh 35vw;
   float: center;
}
.user-span{
    grid-area: theUser;
    margin: 0% 50% 50% 0%;
    color: rgb(24, 73, 233);
  
}


.thumbnail{
    position: relative;
    grid-area: thumb;
    margin: -4vh -25vw 0vh 35vw;
}
#thumbnail{
    width: 4vw;
    border-style: solid;
    border-width: .01vw ;
    border-color:rgb(154, 159, 165);
}
.logout{
        position: relative;
        font-family: cursive;
        font-size: 1.5vw;
        font-weight: 900;
        width: 20%;
        height: 20%;
        margin: -.5vh 0vh 15vw 35vw;
        color: rgb(218, 10, 10);
        text-shadow: 0.02vw 0.02vh rgb(1, 17, 20) ;
    }
/* #logout-span {
    

} */
.Home-Nav ul{
    list-style-type: none;
    padding: 0;
}


.Home-main{
background-color: rgb(17, 12, 1);
width: 600px;
float: right;

}


.Home-footer{
clear: both;
background-color: #009999;
}

p {
    margin-left: auto;
    margin-right: auto;  
}

.nav-main{
    flex: row;
    justify-content: space-between
}

