body{
    font-family: 'Times New Roman', Times; 
    /* display: flex; */
   
}
.Home-Content{
    padding: 10px ;
    text-align: center;
    /* background-color: black; */
    width: 98vw;
    margin-left: 1%;
    justify-self: center;
    opacity: 1;
    
    }
    


.Home-Container{
    color: rgb(246, 246, 246);
    width: 90vw; 
  
}
 .loading{
    opacity: .25;
    padding: 10px ;
    text-align: center;
    /* background-color: black; */
    width: 98vw;
    margin-left: 1%;
    justify-self: center;
}


.Home-Header{
    background-color: green ;
    text-align: center;

}



.Homepage-nav{
width: 98vw;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfenmXFgW/jSF+H3DNEKsdkCAO99IAvXcD3VAAAAAElFTkSuQmCC");
max-height: 15vh;
list-style: none;
margin: 1% 0% 0% 1%;
border:#97d2f0; 
border-width: .05vw;
border-style: solid;
background-color: rgba(242, 221, 245, 0.568);


}
li {    display: inline-block;
    /* position: relative;
    font-family: cursive;
    font-size: 1.5vw;
    font-weight: 900;
    width: 20%;
    height: 20%;
    margin: auto 5% ;
    color: rgb(222, 227, 243);
    text-shadow: 0.02vw 0.02vh rgb(1, 17, 20) ; */
}
#jays-gram {
    /* grid-area: jay; */
    color: red;
    font-family: 'Abril Fatface', cursive;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-feature-settings: "c2sc";
   font-size: 3vw;
   font-weight: 900;
   margin: 0% 0% 0% 0%;
   text-shadow: 2px 2px rgba(5, 111, 138, 0.712) ;

}
.logout{
    margin: -3.5% 0% 0% 10%;
    font-family: cursive;
    font-size: 1.25vw;
    color:white;
    text-shadow: 2px 2px rgba(17, 17, 17, 0.712) ;
}
.logout:hover{
    color: black;
    text-shadow: 2px 2px rgba(230, 227, 227, 0.712) ;

    
}
.camera {
   
    position: relative;
    font-size: 2.5vw;
    margin: 0vh 0vw 0vh 30vw;
   float: center;
}



.thumbnail{
    /* position: sticky; */
    margin: 0vh 0vw 0vh 30vw;
}
#thumbnail{
    width: 5vw;
    position: relative;
    margin: 0% 0% 50% 100%;
    border-style: solid;
    border-width: .1vw ;
    border-color:rgb(152, 153, 153);
}




.Home-footer{
clear: both;
background-color: #009999;
}

p {
    margin-left: auto;
    margin-right: auto;  
}

.sugested-friends,  .friends{
    position: sticky;
    color: rgb(7, 7, 7);
    display: inline-block;
    background-color: rgb(231, 235, 227);
    margin: 5% 0% 5% 0%;
    min-height: 50vh;
    width:20vw;
    border-color: rgb(207, 206, 206);
    border-style: solid;
    border-width: .1vw
}
.sugested-friends{
    float: left;
}
 .friends{
    
    float: right;
  
} 

