.add-friend{

}



.divStyle {
    margin-left:  32%  ;
    margin-right:  auto  ;
    width:  18rem  ;
    color:  black 
  };
     .cardStyle{
    width: 450px ;
    height:250px;
    margin-left:  auto ;
    margin-right:  auto;
    border: 1px;
    border-style:dashed;
    border-color: pink ;
    background-color:#fff 
  };
     .spanStyle{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    color:pink;
    font-style:italic ;
    font-weight:bold  ;
    font-size: 185% 
  };
     .thumbnailStyle{
    height:50px ;
    margin-right:5%;
    margin-top: 3% 
  };
     .ulStyle{
    list-style-type:square;
    color:black 
  };