.post-card-div{
   
    width: 33vw ;
    min-height: 5vh;
    padding-bottom: -2.5%;
    margin: 5% 0% 10% 40%;
    border-width: 0.01vw;
    border-style:solid;
    border-color: rgb(230, 223, 223) ;
    justify-self: center;
    background-color:#fff;

}
.card-header{
    position: relative;
    width: 32vw ;
    height: 7.5vh;
    margin: 1% 0% 0% 1%;
   
   
}


#were-friends, #add-friend{

    background-color: rgb(83, 110, 136);
    position: absolute;
    width: 4vw;
    height: 4.5vh;
    text-align: center;
    vertical-align: middle;
    line-height: 3vh;
    margin: 0%  0%  0%  -15vw;
    font-size: 200%;
    border-radius: .25vw;
    border-color: rgb(65, 64, 64);
    border-width: .075rem;
}

#were-friends:focus{
    display: none;
}

 #add-friend{
 background-color: rgb(255, 255, 255);
 width:22.5%;
  height: 60%;
 font-size: 100%;
}
.name-span-style{
    position: absolute;
    margin: -1vh 0vw 0vh 8vw;
    color:pink;
    font-style:italic ;
    font-weight:bold  ;
    font-size: 2vw;
    /* background-color: rebeccapurple; */
  }
    .post-thumbnail{
    width: 3vw;
    position: relative;
    height:3vw ;
    margin: -7.5% 0% 0% 150% ;
    /* background-color: salmon; */
  }
  .img-div {
    height: 35vh;
    width: 32.5vw;
    /* background-color: blueviolet; */
    
}
.image {
    width: 32vw;
    max-height: 35vh;
    border:solid;
    border-color: rgb(192, 192, 192);
    border-width: .01vw;
}
.divStyle {
    margin-left:  32%  ;
    margin-right:  auto  ;
    width:  18rem  ;
    color:  black 
  }
.post-card{
        width: 32.5vw ;
        min-height: 15.5vh;
        padding-bottom: 5%;
        margin: 1% 0% 0% .5%;
        border: 1px;
        border-style:dashed;
        /* border-color: pink ; */
         /* background-color:#fff;  */
    
  }
  .caption{
      color:black;
      text-align: left;

  }
 
     .ul-style{
    width: 32.5vw;
    /* background-color: yellow; */
    margin:auto;
    list-style: none;
    float: right;
   
   
  }
  .li-style{
   width: 32vw;
   float: left;
   margin: auto;
   position: relative;
   color: black;
   font-size: .75vw;
    /* background-color: coral; */
  }
  .comments-div{
      width: 32vw;
      min-height: 25vh; 
      margin: 1.25vh 0vw 0vh 0.25vw;
      padding: 0%;
      background-color:rgb(250, 244, 244);
  }
  .comment-input{
    margin: 5vh 0vw 0vh 0vw;
    width: 30vw;
  }
  
  #off-heart{
      font-size: 1.75rem;
      float: left;
      margin:-1% 0% 0% 5%;
      color: black;

  }

  #off-heart:hover{
    color:rgb(233, 10, 10);
    text-shadow: -.075vw -.075vh rgb(204, 208, 251);
  }
  #on-heart{
    font-size: 1.5rem;
      float: left;
      margin-left: 5%;
      margin-top: -.5%;
  }
  #on-heart:hover{
    text-shadow: -.075vw 0vh rgb(238, 167, 167);
  }
  .pen{
    font-size: 1vw;
    float: left;
    margin: 0% 0vw 0vh 1.5vw;
    position: relative;
    /* color: black; */
    /* background-color: pink; */
  }
  .comment-icon:hover{
      text-shadow: .1vh -.04vw rgb(126, 173, 226);
      font-size: 1.55vw;
  }
  .likes {
    color:rgb(180, 4, 4);
    font-size: 1.25vw;
    /* background-color: chartreuse; */
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    float: right;
    margin-right: 5%;
    margin-top: 0%;
  }
#comments-header {
  height: 4vh;
  background-color: rgb(245, 239, 235);
  border-style:solid;
  border-width: .01rem;
  border-color: rgb(226, 225, 225);
 
}
.post-caption{
  color:black;
  margin: 0% 0% 0% 5%;
  position: relative;
  background-color: aquamarine;
  width: 30vw;
  float: left;
}
/* .post-caption:hover{
 
} */
#edit-caption{
  display: run-in;
  font-size: .01rem;
 

}
#edit-caption:hover{
  background-color: crimson;
}
  #post-span{
      color:black;
    font-size: 2vw;
  }

  #edit-caption-input{
    font-size: small;
    border-style: solid;
    border-radius: .75vh;
    border-width: .05vw;
    border-color:rgb(240, 236, 236);
    width: 25vw;
    height: 2.75vh;
  }

  #submit-cap-edit{
    font-size: small;
  }
  .delete-x{
  color:rgb(250, 244, 244);

  }
  .delete-x:hover{
   color: black;
   
  }
   