
  .parent {
    /* background-color: black; */
    min-height:100vh ;
    width: 100vw;
    display: grid;
    grid-template-columns: .5fr repeat(4, 1fr) .5fr;
    grid-template-rows: .25fr repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
           
    ;
    } 
    .parent .nav-div{
        position: sticky;
       grid-column: 1/-1;
       grid-row:1;
       min-height: 10vh;
       max-width: 98vw;
       margin: .5vh 0vw 0vh 1vw;
       background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfenmXFgW/jSF+H3DNEKsdkCAO99IAvXcD3VAAAAAElFTkSuQmCC");
       border-style: solid;
       border-width: .01vw;
       border-color: rgb(105, 109, 109,.25);    
    }

.cards-div{
    grid-area: cards;
    background-color: turquoise;
}


.user-gram{
    color: red;
    font-family: 'Abril Fatface', cursive;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-feature-settings: "c2sc";
   font-size: 3rem;
   font-weight: 900;
   margin: 0vh 0vw 0vh 1vw;
   text-shadow: 2px 2px rgba(5, 111, 138, 0.712) ;
   text-align: center;
    vertical-align: top;
    line-height: 10vh;
}
.logout-btn{
    background-color: tomato;
    position: fixed;
    margin: 5vh 0vw 0vh 35vw;

}
.edit-profile-dots{
    position: fixed;
    background-color: rgba(248, 243, 239, 0.623);
    margin: 1vh 0vw 0vh 35vw;
    font-size: 2.5rem;
    color: black;
    border-style: dotted;
    border-width: .05vw;
    border-radius: 2%;
    border-color: rgb(189, 190, 190);
    text-align: center;
    vertical-align: middle;
    line-height: .5vh;
    height: 3vh;
    width:4vw;
}
.camera{
    position: relative;
   font-size: 2vw;
}