
  .parent {
    /* background-color: black; */
    min-height:100vh ;
    width: 100vw;
    display: grid;
    grid-template-columns: .15fr 1fr .05fr ;
    grid-template-rows: .1fr;
    grid-auto-flow:  row;
    grid-row-gap: 10vh;
    justify-content: space-around;
    /* align-content: space-between; */
    grid-template-areas:
                'nav nav nav'
                'profile-info card  nonfriends'
                ;
    } 
    .delete-requested{
        opacity: .25;
    }
    .confirm-delete-div{
        position: absolute;
        margin:-35% 0% 0% 45%;
        padding: 1.5%;
        text-align: center;
        font-size: 1vw;
        color:rgb(27, 15, 15);
        border-style: solid;
        border-color: rgb(206, 205, 205);
        border-width: .01vw;
    }

    .pic-in-delete-option{
        position: relative;
        background-color: black;
        width:3vw;
        height: 7.2vh;
        margin: -1% 0% 5% 0%;
    }
.yes-btn{
margin-right: 5%;
border-radius: 10%;
color: green;
}
.no-btn{
    margin-left: 5%;
    border-radius: 10%;
    color: red;
}
    /* NAV STUFF */

    .nav-div{
        grid-area: nav;
        /* position: sticky; */
       grid-column: 1/-1;
       grid-row:1;
       max-height: 10vh;
       max-width: 98vw;
       margin: .5vh 0vw 0vh 1vw;
       background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfenmXFgW/jSF+H3DNEKsdkCAO99IAvXcD3VAAAAAElFTkSuQmCC");
       border-style: solid;
       border-width: .01vw;
       border-color: rgb(105, 109, 109,.25);    
    }

.user-gram{
    grid-area: nav;
    color: red;
    font-family: 'Abril Fatface', cursive;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-feature-settings: "c2sc";
   font-size: 3rem;
   font-weight: 900;
   margin: 0vh 0vw 0vh 1vw;
   text-shadow: 2px 2px rgba(5, 111, 138, 0.712) ;
   text-align: center;
    vertical-align: top;
    line-height: 10vh;
}
.logout-btn{
    grid-area: nav;
    background-color: tomato;
    float: right;
    margin: 5vh 0vw 0vh 40vw;

}
.dots-edit-profile{
    grid-area: nav;
    background-color: rgba(248, 243, 239, 0.623);
    float: right;
    margin-right: .5%;
    font-size: 2.5rem;
    color: black;
    border-style: solid;
    border-width: .05vw;
    border-radius: 2%;
    border-color: rgb(136, 134, 134);
    text-align: center;
    vertical-align: middle;
    line-height: .5vh;
    height: 3vh;
    width:4vw;
}
.dots-edit-profile:hover{
    background-color: rgb(216, 215, 214);
    border-width: .075vw;
    border-radius: 10%;
    border-color: rgb(137, 138, 138);
    color:white;
}
.camera{
    position: relative;
   font-size: 2vw;
}

/* ********* */


/* BODY STUFF */

.profile-section{
    grid-area: profile-info;
    text-align: center;
    background-color: rgba(255, 192, 203, 0.137);
    width: 15vw;
    margin-left: 1vw;
    border-width: .01vw;
    border-color:rgba(2, 1, 1, 0.219);
    border-style: solid;
}


.delete-profile-text{
    position: absolute;
    margin:-10% 0% 0% 5%;
    color: blue;
}
.edit-profile-text{
    position: absolute;
    color: green;
    margin: -12% 0% 0% 5%;
    font: bolder

}
.dont-show-delete{
    display: none;
}

/* PROFILE INFO */
.profile-pic{
    width: 9vw;
    margin: 2% 0% 0% 0%;
    border-width: .1vw;
    border-color:silver;
    border-style: solid;
}


/* CARD AND CARD DIV STUFF */

.post-cards-div{
    width: 78vw;
     /* background-color: blueviolet; */
     
   
 }
.cards-div{
    
    text-align: center;
    grid-area: card;
    background-color: rgba(238, 232, 170, 0.233);
    border-style: solid;
    border-color:rgb(160, 159, 159);
    border-width: .025vw;
   
   
}


/* ******** */

.non-friends{
    text-align: center;
    grid-area: nonfriends;
    background-color: rgba(255, 166, 0, 0.089);
    width: 5vw;
   margin-right: 1vw;
}

.hi-im{
    font-style: italic;
    font-family:   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(97, 33, 33);
}
.bio{
    /* background-color: chartreuse; */
    float: left;
    margin: 5%;
    color: rgb(53, 52, 52);
}
.location{
    /* background-color: rgb(255, 0, 0); */
    color: crimson;
    font-size: 1.5vw;
}
.city-state{

    /* background-color: chartreuse; */
    margin: -7.5% 0% 0% 0%;
    font-family:   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edit-profile-form, input {
    position: relative;
    margin:10% 0% 0% 5%;
    background: transparent;
    text-align: center;
    font-size: 1vw;
    border-style: none;
    border-bottom: solid;
    border-width: .1vw;

}
.edit-bio{
    margin: 15%;
}
