.profile-post-card{
  grid-area: card;
  display: flexbox;
    width: 23.3vw ;
    min-height: 55vh;
    margin: 0% 0% 0% 0%;
    border: 3px;
    /* border-style:dashed;   */
   /* border-color: pink ;  */
      background-color:#fff; 

}

.profile-post-card-div {
    /* grid-area: card; */
    display: inline-table;
    margin: 1% 0% 2.5% 2.25%;
    width: 20vw;
    /* background-color:rgb(199, 196, 196); */
    min-height: 500px;
    border: rgb(207, 207, 207);
    border-width: 0.1vw;
    border-style:solid;
}


/*   CARD HEADER*/ 

.profile-card-header{
    position: relative;
    width: 22.75vw ;
    height: 4vh;
    margin: 1% 0% 1% 0.75%;
    border-style:solid;
    border-radius: 2.5%;
    border-color: rgb(204, 201, 201);
    border-width: .1vw;
    background-color: rgb(242, 246, 253);
   
   
}

.profile-name-span-style{
    position: absolute;
    margin: 1vh 0vw 0vh 18vw;
    color:rgb(168, 3, 31);
    font-style:italic ;
    font-weight:bold  ;
    font-size: 1vw;
    /* background-color: rebeccapurple; */
  }

/* ADJUST WHEN PROFILE PIC IS INSERTED */
.profile-post-thumbnail{
    width: 5vw;
    position: relative;
    height:2.5vh ;
    width: 1.25vw;
    margin: -.5% 0% 0% 90% ;
    background-color: salmon;
  }

                                           /******   PIC BOX  ******/ 



.profile-img-div {
    height: 30vh;
    width: 22.5vw;
    margin: 0% 0% 10% 1%;
    /* background-color: blueviolet; */
    
}
.profile-image {
    height: 30vh;
    width: 22vw;
    border:solid;
    border-color: rgb(192, 192, 192);
    border-width: .01vw;
    margin-left: 1.5%
}

/*   PIC BOX  */ 
.profile-divStyle {
    margin-left:  32%  ;
    margin-right:  auto  ;
    width: 18rem  ;
    color:  black 
  }


                                              /* * * *  INTERACTION * * * */


                                          /* COMMENTS SECTION*/

  .profile-caption{
      color:black;
      text-align: left;

  }
  .profile-caption,#name-cap{
      font-weight: 700;
      float: left;
      font-style: italic;
      margin-left: .5vw;
      color: brown;
  }
     

                                    /* *****  MAIN COMMENTS DIV ***** */




  .profile-comments-div{
      width: 22.75vw ;
      min-height: 20vh; 
      margin: 3vh 0vw 0vh 0.25vw;
      background-color:rgb(255, 255, 255);
      border-style: solid;
      border-width:.1vw;
      border-color:rgb(255, 255, 255)
  }
  #profile-comments-header {
    height: 3vh;
    width:22.75vw;
    margin-top: -10%;
    /* margin-bottom: 25%; */
    background-color: rgb(248, 248, 248);
    border-style:solid;
    border-width: .01rem;
    border-color: rgb(226, 225, 225);
   
  }
  .profile-comment-input{
    margin: 5vh 0vw 0vh 0vw;
    width: 20vw;
  }
  
  .profile-off-heart{
      
      font-size: 1.25rem;
      float: left;
      margin-left: 5%;
      color: black;

  }

  .profile-off-heart:hover{
    color:rgb(233, 10, 10);
    text-shadow: -.075vw -.075vh rgb(204, 208, 251);
  }
  .profile-on-heart{
    font-size: 1rem;
      float: left;
      margin-left: 5%;
      margin-top: 1%;
  }
  .profile-on-heart:hover{
    text-shadow: -.075vw 0vh rgb(238, 167, 167);
  }
  .profile-pen{
    font-size: 1.25vw;
    float: left;
    margin: 0vh 0vw 0vh 1.5vw;
    color: black;
     /* background-color: pink; */
  }
  .profile-comment-icon:hover{
      text-shadow: .1vh -.04vw rgb(126, 173, 226);
      font-size: 1.55vw;
  }
  .profile-likes {
    color:rgb(180, 4, 4);
    font-size: 1vw;
    /* background-color: chartreuse; */
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    float: right;
    margin-right: 10%;
    margin-top: 0.5%;
  }
                                          /* ACTUAL TEXT STUFF */





.profile-ul-style{
  width: 22.5vw;
  /* background-color: yellow; */
  margin:auto;
  list-style: none;
  float: right;
 
 
}
.profile-li-style{
 width: 22.5vw;
 float: left;
 margin: auto;
 position: relative;
 color: black;
 font-size: 1.25vw;
  /* background-color: coral; */
} 


.profile-post-caption{
  color:black;
}
/* .post-caption:hover{
 
} */
#profile-edit-caption{
  display: unset;
  font-size: xx-small;
}
#profile-edit-caption:hover{
  display: all;
}
  #post-span{
      color:black;
    font-size: 2vw;
  }

  #profile-edit-caption-input{
    font-size: small;
    border-style: solid;
    border-radius: .75vh;
    border-width: .05vw;
    border-color:rgb(240, 236, 236);
    width: 20vw;
    height: 2.75vh;
  }

  #profile-submit-cap-edit{
    font-size: small;
  }
  